#redAlliance,#blueAlliance {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	margin-right: 10px;
	/* Small gap between buttons */
	vertical-align: middle;
}

#redAlliance , #ObjectiveRedAllience {
	background-color: red;
	background-image: url('https://github.com/791747hnlhymt/scoutingApp2026Prototype/blob/main/Images/Scouting%20App%20Red%20Alliance%20Button%20Background-1.png?raw=true');
	background-repeat: no-repeat;
	background-size: cover;
}

#blueAlliance , #ObjectiveBlueAllience {
	background-color: blue;
	background-image: url('https://github.com/791747hnlhymt/scoutingApp2026Prototype/blob/main/Images/Scouting%20App%20Blue%20Alliance%20Button%20Background.png?raw=true');
	background-repeat: no-repeat;
	background-size: cover;
}



#redAlliance:focus, #blueAlliance:focus {
	border: 7px solid white;
	outline: none;
}

.form-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-section label {
	margin-bottom: 8px;
	font-weight: bold;
}

.alliance-buttons {
	align-items: center;
}

.alliance-choice {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}

#submitSubjective {
	background-color: lightgreen;
	color: black;
	font-weight: bold;
}

.selected {
	border: 4px solid white !important;
	transform: scale(1.05);
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;

}

th,
td {
	padding: 8px;
	text-align: left;
}
